<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TrabajoFinal.Properties.Settings.BD_IE_CMConnectionString"
            connectionString="Data Source=DESKTOP-2QR1BR7\SQLEXPRESS;Initial Catalog=BD_IE_CM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>